<!DOCTYPE html>
<html>

{% load static %}

<head>
    <title>Pages-Wibe, Get Information Deeply</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <meta name="keywords" content="Wibe,  Wikipedia, YouTube, LetsWibe, Wiki, wibe, wiki, letswibe, Youtube, wibing, vibe, vibing, yibe, Yibe, Wibe, Wikipedia, YouTube, LetsWibe, Wiki, wibe, wiki, letswibe, Youtube, wibing, vibe, vibing, yibe, Yibe">
    <link rel="author" href="https://plus.google.com/+Wikipedia" />
    <link rel="author" href="https://plus.google.com/+youtube" />
    <link rel="publisher" href="https://plus.google.com/+Letswibeall" />
    <link rel="shortcut icon" href={% static "images/favicon.ico" %}/>
    <!-- 1. Load webcomponents.js for polyfill support. -->
    <script src={% static "bower_components/webcomponentsjs/webcomponents.js" %}></script>
    <!-- 2. Load the component using an HTML Import -->
    <link rel="import" href={% static "bower_components/font-roboto/roboto.html" %}>
    <link rel="import" href={% static "bower_components/font-roboto/roboto.html" %}>
    <link rel="import" href={% static "bower_components/core-header-panel/core-header-panel.html" %}>
    <link rel="import" href={% static "bower_components/core-scroll-header-panel/core-scroll-header-panel.html" %}>
    <link rel="import" href={% static "bower_components/core-toolbar/core-toolbar.html" %}>
    <link rel="import" href={% static "bower_components/core-image/core-image.html" %}>
    <link rel="import" href={% static "bower_components/core-icon-button/core-icon-button.html" %}>
    <link rel="import" href={% static "bower_components/core-icon/core-icon.html" %}>
    <link rel="import" href={% static "bower_components/core-icons/social-icons.html" %}>
    <link rel="import" href={% static "bower_components/core-icons/image-icons.html" %}>
    <link rel="import" href={% static "bower_components/core-icons/av-icons.html" %}>
    <link rel="import" href={% static "bower_components/core-field/core-field.html" %}>
    <link rel="import" href={% static "bower_components/paper-tabs/paper-tabs.html" %}>
    <link rel="import" href={% static "bower_components/paper-button/paper-button.html" %}>
    <link rel="import" href={% static "bower_components/paper-icon-button/paper-icon-button.html" %}>
    <link rel="import" href={% static "bower_components/paper-input/paper-input.html" %}>
    <link rel="import" href={% static "bower_components/paper-fab/paper-fab.html" %}>
    <link rel="import" href={% static "bower_components/core-drawer-panel/core-drawer-panel.html" %}>
    <link rel="import" href={% static "bower_components/core-animated-pages/core-animated-pages.html" %}>
    <link rel="import" href={% static "bower_components/core-animation/core-animation.html" %}>
    <link rel="import" href={% static "bower_components/core-transition/core-transition-css.html" %}>
    <link rel="import" href={% static "bower_components/core-overlay/core-overlay.html" %}>
    <link rel="import" href={% static "bower_components/core-transition/core-transition.html" %}>
    <link rel="import" href={% static "bower_components/core-tooltip/core-tooltip.html" %}>
    <link rel="import" href={% static "bower_components/paper-dialog/paper-dialog.html" %}>
    <link rel="import" href={% static "bower_components/paper-dialog/paper-dialog-transition.html" %}>
    <link rel="import" href={% static "bower_components/paper-toast/paper-toast.html" %}>
    <link rel="import" href={% static "bower_components/core-menu/core-menu.html" %}>
    <link rel="import" href={% static "bower_components/core-media-query/core-media-query.html" %}>
    <link rel="import" href={% static "bower_components/paper-spinner/paper-spinner.html" %}>
    <!-- <link rel="import" href="wibe-timeline.html"> -->

    <link rel="stylesheet" type="text/css" href={% static "css/tipuedrop.css" %}>
    <link href={% static "css/style.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/wibe.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/wibe-mobile.css" %}>
    <link rel="stylesheet" type="text/css" href={% static "css/pages.css" %}>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
</head>

<body unresolved>
    <core-drawer-panel id='panel' responsiveWidth='9999px'>
        <core-header-panel drawer id='nav-bar'>
        </core-header-panel>
        <div main>
            <core-header-panel id="page-header" shadow>
                <core-toolbar>
                    <a href='/' id='home-link'>
                        <div flex>Wibe</div>
                    </a>
                    <div id='search-panel'>
                        <core-field id='search-box' relative>
                            <!-- <input id='inp-box' placeholder="What do you want to know?" flex> -->
                            <input type="text" id="tipue_drop_input" placeholder="What do you want to know?" autocomplete="on">
                            <div id="tipue_drop_content"></div>
                            <core-icon icon="search" id='search-icon' onclick="srchBox()" right></core-icon>
                        </core-field>
                    </div>
                    <core-field id='user-subs'>
                        <!--                             <core-icon icon="search" id='search-icon'></core-icon>
 -->
                        <input id='inp-email-id' placeholder="Enter Email for Updates" flex>
                        <paper-button id='subscribe-but' raised onclick="document.querySelector('#subscribed-msg').show()">
                            <div>Subscribe</div>
                        </paper-button>
                    </core-field>
                    <paper-toast id='subscribed-msg' text="You have been subscribed to Wibe!"></paper-toast>
                </core-toolbar>
                <div id='pages-box' horizontal layout center-justified wrap>
                    {% for link in links %}
                    <a href="/wibe/{{link.split|join:" - " }}/" class="pg-link">
                    {{link}}
                    </a> {% endfor %}
                </div>
            </core-header-panel>
        </div>
    </core-drawer-panel>

    <script src={% static "js/jquery.min.js" %}></script>
    <script src={% static "js/wibe.js" %}></script>
    <script src={% static "js/tipuedrop_content.js" %}></script>
    <script src={% static "js/tipuedrop.js" %}></script>
    <script src={% static "js/main_page.js" %}></script>

</body>

</html>
