container_commands:
  02_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python manage.py collectstatic --noinput"
  01fix_permissions_dirs:
    command: "chmod -R 777 /opt/python/current/app/"
    ignoreErrors: false
  00fix_permissions_dirs:
    command: "chmod -R 777 /opt/python/on-deck/app/"
    ignoreErrors: false
    
option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "wibe.settings"
    "PYTHONPATH": "/opt/python/current/app/wibe:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: wibe/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static/"